

*{
	margin: 0xp;
	padding: 0xp;
}

.container{
	background-color: white;
	width: 90%;
	height: 100vh;
	margin: 0 auto;
}

.container form{
	background-color: whitesmoke;
	padding: 20px;
	border-radius: 10px;
	width: 300px;
	margin: 0 auto;
	margin-top: 10%;
	font-size: 18px;
	font-family: monospace;
}

.container form input{
	border:none;
	outline: none;
	background-color: transparent;
	border-bottom: 1px solid green;
	font-size: 18px;
	padding: 5px;
	width: 90%;
}

.container form button{
	width: 100%;
	background-color: red;
	border:none;
	outline: none;
	font-size: 18px;
	font-family: monospace;
	padding: 5px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}
.container form button:active{

	background-color: blue;

	
}
.container form .name-error{
	color: red;
	font-family: monospace;
	font-size: 14px;
}

@media(max-width(400px)){

}